{"http_interactions":[{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Chicago,%20IL\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Chicago\",\n               \"short_name\" : \"Chicago\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Cook County\",\n               \"short_name\" : \"Cook County\",\n               \"types\" : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Illinois\",\n               \"short_name\" : \"IL\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\" : \"Chicago, IL, USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\" : 42.023131,\n                  \"lng\" : -87.52404399999999\n               },\n               \"southwest\" : {\n                  \"lat\" : 41.6443349,\n                  \"lng\" : -87.9402669\n               }\n            },\n            \"location\" : {\n               \"lat\" : 41.8781136,\n               \"lng\" : -87.6297982\n            },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 42.023131,\n                  \"lng\" : -87.52404399999999\n               },\n               \"southwest\" : {\n                  \"lat\" : 41.6443349,\n                  \"lng\" : -87.9402669\n               }\n            }\n         },\n         \"types\" : [ \"locality\", \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"},"http_version":null},"recorded_at":"Mon, 21 Jul 2014 19:31:26 GMT"},{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?language=en\u0026latlng=0,0\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [],\n   \"status\" : \"ZERO_RESULTS\"\n}\n"},"http_version":null},"recorded_at":"Mon, 21 Jul 2014 19:47:06 GMT"},{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Marin%20County,%20CA\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\"[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Tucson,%20AZ\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Tuc[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Seattle,%20WA\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Se[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=San%20Francisco,%20CA\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=San%20Diego,%20CA\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : [...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Berkeley,%20CA\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"B[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Oakland,%20CA\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Oa[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=San%20Jose,%20CA\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Philadelphia,%20PA\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" :[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Santa%20Cruz,%20CA\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" :[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Minneapolis,%20MN\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : [...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Phoenix,%20AZ\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Ph[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Boston,%20MA\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Bos[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Austin,%20TX\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Aus[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Boulder,%20CO\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Bo[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Washington,%20DC\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=New%20York,%20NY\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \[...]
[...]
